@model IEnumerable<IssShopCart.Models.ViewModel.ordersforUser>

@{
    ViewBag.Title = "Order History";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            Total: 
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @foreach (var item2 in item.ProductsAndQty)
            {
                @item2.Key @:x @item2.Value<br/>
                             
            }
        </td>
    
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>$@item.Total</td>
        </tr>
}

</table>
